a {
    color: red;
    text-decoration: none;
}
h1{
    color: red;
    font-size: 1.5em;
    text-align: center;
}
#test{
    color: blueviolet;
    text-decoration: line-through;
}
.saw{
    color: blueviolet;
}
#active{
    color: red !important;
}